.card {
  width: 200px;
  height: 210px;
  background-color: rosybrown;
  margin:0;
  pa

  &__image {
    width: 100%;
  }
  &__title {

    font-size: 1.8rem;
    font-weight: 400;
    color:$mainColor;
    margin:0;
  }

  &__description {
    font-size: 1rem;
    font-weight: 100;
    color:$secondColor;
 
  }

  &__social_block {
    text-align: center;
    position:relative;

    &__icon {
     
      border-radius: 100%;
      border: 0.1rem solid $mainColor;
      height: 40px;
      width: 40px;
      position: absolute;
      bottom:0px;
      
    }
  }
}
