$smartphone-width:500px;
$tablet-width: 768px;
$desktop-width: 1024px;

$wrap-width: 1024px;

$light-color:rgb(214, 207, 207);
$dark-color:rgb(19, 4, 4);

$header-color:#3437ec;
$title-color:#f5f5f5;
$subtitle-color:#dbd5d5;
$btn-color:#f5f5f5;
$btn-text-color:#3912e7;

$mainBlue:#2f5572;
$mainOrange:#d49440;