.site-header {
  position: absolute;
  z-index: 2;
  background-color: rgba($dark-color, .3); 
  width: 100%;
  height: 50px;
  padding-top:15px;


  &__logo {
    position: absolute;
    color: $light-color;
    top:0;
    padding:5px 5px;
    height: 50px;
  }
  


}
